button {
    color:white;
    background-color: red;
    font-size: medium;
}

h1 {
    color:black;
    font-size: x-large;
}

h3 {
    color:black;
    font-size: x-large;
}

body {
    background-color: yellow;
}
